{% extends 'hanabi/base.html' %}
{% block body %}
<div class="container" id="{{ board_id }}">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">TODO</h3>
        </div>
        <div class="panel-body">
          <table id="todo" class="table table-hover">

          </table>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary btn-sm" id="addTODO">&plus;</button>
        </div>
      </div>
    </div>
    <!-- =========================================================== -->
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Doing</h3>
        </div>
        <div class="panel-body">
          <table id="doing" class="table table-hover">

          </table>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success btn-sm" id="addDoing">&plus;</button>
        </div>
      </div>
    </div>
    <!-- =========================================================== -->
    <div class="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Blocked</h3>
        </div>
        <div class="panel-body">
          <table id="blocked" class="table table-hover">

          </table>
        </div>
        <div class="panel-footer">
          <button class="btn btn-warning btn-sm" id="addBlocked">&plus;</button>
        </div>
      </div>
    </div>
    <!-- =========================================================== -->
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Done</h3>
        </div>
        <div class="panel-body">
          <table id="done" class="table table-hover">

          </table>
        </div>
        <div class="panel-footer">
          <button class="btn btn-danger btn-sm" id="addDone">&plus;</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <p><a class="btn btn-primary btn-lg" role="button">Add new task</a></p>
  <p><a class="btn btn-secondary btn-lg" role="button">Delete a Task</a></p> -->

</div>
{% endblock %}
