{% extends 'hanabi/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">TODO</h3>
        </div>
        <div class="panel-body">
          <table id="todo" class="table table-hover">

          </table>
        </div>
      </div>
    </div>
    <!-- =========================================================== -->
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Doing</h3>
        </div>
        <div class="panel-body">
          <table id="doing" class="table table-hover">

          </table>
        </div>
      </div>
    </div>
    <!-- =========================================================== -->
    <div class="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Blocked</h3>
        </div>
        <div class="panel-body">
          <table id="blocked" class="table table-hover">

          </table>
        </div>
      </div>
    </div>
    <!-- =========================================================== -->
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Done</h3>
        </div>
        <div class="panel-body">
          <table id="done" class="table table-hover">

          </table>
        </div>
      </div>
    </div>
  </div>
  <p><a class="btn btn-primary btn-lg" role="button">Add new task</a></p>
  <p><a class="btn btn-secondary btn-lg" role="button">Delete a Task</a></p>

</div>
{% endblock %}
