{% extends 'hanabi/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Welcome to Hanabi!</h1>
          <p>Our firework system provides an excellent framework for your Agile development environment.  Manage user stories and points with ease, so your sprint goes as smoothly as one of Usain Bolt's.</p>
          <p><a class="btn btn-primary btn-lg" href="learn/" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
