{% extends 'hanabi/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          <table id="example" class="table table-hover">
            <thead>
              <tr>
                <th>JSON Object</th>
              </tr>
            </thead>
              <tr>
                <td>example1
              </tr>
              <tr>
                <td>example2
              </tr>
              <tr>
                <td>example3
              </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          <table id="example" class="table table-hover">
            <thead>
              <tr>
                <th>JSON Object</th>
              </tr>
            </thead>
              <tr>
                <td>example1
              </tr>
              <tr>
                <td>example2
              </tr>
              <tr>
                <td>example3
              </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          <table id="example" class="table table-hover">
            <thead>
              <tr>
                <th>JSON Object</th>
              </tr>
            </thead>
              <tr>
                <td>example1
              </tr>
              <tr>
                <td>example2
              </tr>
              <tr>
                <td>example3
              </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
          <table id="example" class="table table-hover">
            <thead>
              <tr>
                <th>JSON Object</th>
              </tr>
            </thead>
              <tr>
                <td>example1
              </tr>
              <tr>
                <td>example2
              </tr>
              <tr>
                <td>example3
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
